<div class="col-xl-3 col-lg-4 col-md-4 col-6" style="max-width: 46%;padding: 0; margin: 1%; ">
    <div class="single-product">
        <div class="product-img" style="max-width: 90%; margin: 15px 15px; ">
            <a href="{% url 'product-details' product.id %}">
                <img class="default-img" style="border: 1px solid #ccc;"  src="/media/{{product.thumbnail}}" alt="Image Not found">
            </a>
            <div class="button-head">
                <div class="product-action">
                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                </div>
                <div class="product-action-2">
                    <a title="Add to cart" href="#">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="product-detail" style="text-align: center;">
        <div style="font-size: 400; font-weight: 500;">{{product.name}} </div>
        <span>R.S. {{product.with_discount_price}} &nbsp;</span>  
        <span style="text-decoration:line-through;color:red;">R.S. {{product.without_discount_price}}</span>
    </div>

</div>
</div>