{% extends 'base.html' %}

<!-- {% block preloader %}
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
{% endblock %} -->

{% block content %}

<div class="product-content ml-2">
    <h4>Featured Products</h4>
    <div class="col-xl-3 col-lg-4 col-md-4 col-6">
        <div class="single-product">
            <div class="product-img">
                <a href="product-details.html">
                    <img class="default-img" max-width="550" max-height="550" src="https://via.placeholder.com/550x750" alt="#">
                </a>
                <div class="button-head">
                    <div class="product-action">
                        <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                    </div>
                    <div class="product-action-2">
                        <a title="Add to cart" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
            Siddhartha Rice (30 kg)

</div>


{% endblock %}
