{% extends 'base.html' %}

<!-- //{% block prelfoader %}
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
//{% endblock %} -->

{% block content %}

{% include 'partials/categorySlider.html' %}   


  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
    </style>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          
          {% for image in sliderimage %}
          <div class="carousel-item " style="max-height: 500px;">
            <img class="d-block " src="/media/{{image.image}}" alt="First slide">
          </div>
          {% endfor %}
          
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>


   

<div class="product-content ml-2 mt-3 row">
    <h5 style="text-align: center;">Featured Products</h5>
    {% for product in products %}
      {% include 'partials/featured.html' %}
    {% endfor %}
</div>

<script>
var item = document.getElementsByClassName('carousel-item');
  item[0].classList.add('active');
  $(document).ready(function(){
    
    $('.carousel').carousel({
      interval: 4000
    });
  })
</script>

{% endblock %}
